<div class="left-nav">
    <div id="side-nav">
      <ul id="nav">
          <li class="list">
              <a href="/admin/shopowner/index">
                  <i class="iconfont">&#xe70b;</i>
                   商品信息
                  <i class="iconfont nav_right">&#xe697;</i>
              </a>
          </li>
          <li>
                <a href="/admin/shopowner/detail">
                    <i class="iconfont">&#xe70b;</i>
                    设置秒杀
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
          </li>
      </ul>
    </div>
  </div>